.on_tour {
  h2 {
    padding: var(--pd-xl) var(--pd-lg);
    font-size: var(--font-size-xl);
  }
  section {
    margin: var(--mg-md);
  }
  section > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    /* padding: var(--pd-md) var(--pd-lg); */
  }
  article {
    /* padding: 0 var(--pd-lg); */
    border-bottom: 1px solid var(--color-second);
    margin-bottom: var(--mg-sm);

    img {
      width: 5%;
      margin-right: var(--pd-sm);
    }

    > div {
      padding: var(--pd-md) 0;

      div {
        display: flex;
        flex-direction: row;
        padding: none;

        p {
          font-weight: 300;
        }
      }
    }

    p:nth-child(1) {
      font-weight: 700;
    }
    p:last-child {
      font-weight: 300;
    }
  }
  article:last-child {
    border-bottom: none;
  }
}
.speaker {
  color: var(--color-accent);
}
@media (min-width: 480px) {
}

@media (min-width: 810px) {
  .on_tour {
    article {
      img {
        width: 2%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .on_tour > section > section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-content:space-evenly div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    article {
      border: 1px solid var(--color-second);
      padding: 0 var(--pd-sm);
      border-radius: 10px;
    }
    article:last-child {
      border-bottom: 1px solid var(--color-second);
    }
  }
}
