@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --font-main: "Figtree", sans-serif;

  --color-bg: #f2f2f2;
  --color-prim: #050259;
  --color-second: #bbbdf2;
  --color-accent: #3dd973;
  --color-comp: #a0a4f2;
}
