@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --font-main: "Figtree", sans-serif;

  --color-bg: #f2f2f2;
  --color-prim: #395873;
  --color-second: #d96704;
  --color-accent: #f2e8df;
  --color-comp: #f2ae72;
  --color-five: #26110d;

  --font-size-xs: 0.5rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 1.75rem;
  --font-size-subheading: 2rem;
  --font-size-mobileH1: 2.5rem;
  --font-size-heading: 3rem;

  --mg-xs: 0.1rem;
  --mg-sm: 0.5rem;
  --mg-md: 1rem;
  --mg-lg: 1.25rem;
  --mg-xl: 1.875rem;
  --mg-xxl: 2.5rem;

  --pd-xs: 0.1rem;
  --pd-sm: 0.5rem;
  --pd-md: 1rem;
  --pd-lg: 1.25rem;
  --pd-xl: 1.875rem;
  --pd-xxl: 2.5rem;
}
