@import "_variables.css";
@import "footer.css";
@import "header.css";
@import "__new_release.css";
@import "__bio.css";
@import "__on_tour.css";
@import "__books.css";
@import "__contact.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-bg);
  color: var(--color-text);
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  line-height: 1.5;
}
.color-h2 {
  background-color: var(--color-comp);
  color: var(--color-second);
}

.arrow {
  border: none;
  background-color: var(--color-bg);
}
.btn-arrow {
  display: flex;
  justify-content: right;
  margin: 0 var(--mg-md) var(--mg-md) var(--mg-md);
}
